
.container{
    width:81vmin;
    height: 81vmin;
 background-color:rgba(240, 255, 255, 0.349);
 text-align: center;
 margin-top: 100px;
 margin-left: 400px;
 display: flex;
 flex-wrap: wrap;
   justify-content: space-between;
   border: solid black 5px;
}
.box {
    width: 26vmin;
    height: 26vmin;
    background-color:rgba(0, 0, 0, 0.842);
    justify-content: space-between;
    text-align: center; 
}
.box {
   
    font-size: 100px;
}
body{
    background-color: darkgray;
    color:rgb(254, 2, 2);
    background-image: url("image.jpg");
}
.main {
    text-align: center;
}

.hello {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: dimgrey;
    text-shadow: -1px 1px 0 #ffffff,
        1px 1px 0#ffffff,
        1px -1px 0#ffffff,
        -1px -1px 0#ffffff;
}

.main a button {

    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;

}

.main a button h1 {
    background-color: rgba(0, 0, 0, 0);
    text-shadow: -1px 1px 0 #ffffff,
        1px 1px 0#ffffff,
        1px -1px 0#ffffff,
        -1px -1px 0#ffffff;
}
.main a button h1:hover{
    transform: scale(1.5);
}